@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  max-width: 1224px;
  margin: 0 auto;
  height: 100px;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.img{
  height:"80px"
  width="auto"
}
.container{
  margin: 0 auto;
  max-width: 1224px;

}
.btn-1{
  all: unset;
  color: white;
  background-color: red;
  padding: 5px 15px;
  font-weight: 500;
  height: 30px;
  
}
.btn{
  display: flex;
  gap :20px
  
}
.btn-2{
 color: white;
 background-color: tomato;
 padding: 5px 15px;
 height: 30px;
 border: 1px solid grey;
 
}
.btn-3{
  height:30px;
  padding: 5px 15px;
  font-weight: bold;
  border: 1px solid grey;
}
.main-thing{
display: flex;
align-items: center;
height: calc(100vh - 75px);
}
.main-thing p{
  font-weight: 600;
  
}
.available{
  display: flex;
  gap:10px
}
.paragraph{
  padding-top: 7px;
}